.section-container{
  position: relative;
  max-width: 80%;
  margin: 0 auto;
}

.container{
  max-width: 100%;
  margin: 0 auto;
  &__row{
    display: flex;
    flex-wrap: wrap;
    width: 100%;
  }
}

[class*='col-'] {
  float: left;
  padding: 0px 1.5vw;
  min-height: 1px;

  &:first-child {
    padding-left: 0px;
  }

  &:last-child {
    padding-right: 0px;
  }
}

$grid__cols: 12;

@for $i from 1 through $grid__cols{
  .col-#{$i}{
    flex-basis: (100/($grid__cols / $i))*1%;
  }
}
