.section-container{
  width: calc(100vw - (2* #{$vertical-margin})* 1vh);
  margin: ($vertical-margin * 1vh) auto;
}

.container{
  max-width: 100%;
  margin: 0 auto;
  &-row{
    display: flex;
    flex-wrap: wrap;
    width: 100%;
  }
}

[class*='col-'] {
  float: left;
  min-height: 1px;
}

$grid-cols: 12;

@for $i from 1 through $grid-cols{
  .col-#{$i}{
    flex-basis: (100/($grid-cols / $i))*1%;
  }
}
