html{
  font-size: 0.52vh;
}
a{
  text-decoration: none;
  font-family: $link;
}

/***landing page***/
.name{
  font-family: $link;
  color: $blue;
  font-size: 5rem;
}
.landing-page-nav{
  a{
    font-size: 4rem;
    font-weight: bold;
    color: $blue;
  }
}

/***navigation-bar***/
.navigation-bar{
  font-size: 4rem;
  a{
    color: $gray;
    &:hover{
      color: $blue;
    }
  }
}
a.active{
  font-size: 10rem;
  color: $blue;
}

.home-link{
  font-size: 4rem;
  color: $blue;
  font-family: $link;
}
/***about-page***/
.about-text{
  font-size: 4rem;
  line-height: 6rem;
//  text-align: justify;
  span{
    font-style: italic;
    .link{
      color: #4067b3;
      font-weight: bold;
    }
  }
}

/***projects***/

.project-title{
  font-size: 6rem;
  font-family: $link;
  text-transform: none;
  color: white;
  font-weight: bold;
}
.view-project{
  font-family: $text;
  font-style: italic;
  color: rgba(256,256,256,0.8);
  font-size: 4rem;

}

/***contact***/

.contact-info li{
  font-family: $link;
  font-weight: bold;
  font-size: 3.5rem;
  padding: 2rem;
  color: $gray;
}
