//colors
$blue: #272244;
$gold: #986725;
$black: #000000;
$gray: #585858;

//fonts
$link: 'Josefin Sans', sans-serif;
$text: 'lora', serif;
$heading: 'Playfair Display', serif;

$vertical-margin: 8.333;
