*, *:before, *:after {
  box-sizing: border-box; }

*:before, *:after {
  clear: both; }

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
  box-sizing: border-box; }

article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block; }

body {
  line-height: 1; }

ol, ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

/****Navbar****/
.page-nav {
  width: 100%;
  height: 8vh;
  top: 0px;
  left: 0px;
  display: flex;
  justify-content: space-between;
  position: fixed;
  z-index: 1000;
  background: white; }

#logo {
  width: 50%;
  display: flex;
  align-items: center; }

#logo > img {
  height: 5vh;
  margin-left: 10vw; }

#main-nav {
  width: 50%;
  display: flex;
  align-items: center;
  justify-content: flex-end; }
  #main-nav ul {
    width: 100%;
    height: 3vh;
    padding-top: 0.2vh;
    display: flex;
    flex-direction: row;
    justify-content: space-between; }

.nav-item {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0 5vh; }
  .nav-item:last-child {
    margin-right: 10vw; }
  .nav-item:hover span {
    width: 5px;
    height: 5px;
    border-radius: 3px;
    background-color: #787878;
    margin-top: 4px; }
  .nav-item:active span {
    width: 5px;
    height: 5px;
    border-radius: 3px;
    background-color: #986725;
    margin-top: 4px; }

.hidden {
  top: -8vh; }

/****main-page****/
#main-page {
  height: 100vh;
  display: flex;
  flex-direction: column;
  background-color: #272244;
  align-items: center; }
  #main-page #main-page-logo > img {
    width: 40vh;
    margin-top: 12vh; }

#main-page-title {
  margin: 4vh 0; }

#main-page-nav {
  justify-content: center;
  margin: 8vh 0; }
  #main-page-nav ul {
    display: flex;
    flex-direction: row;
    justify-content: space-between; }
  #main-page-nav li {
    display: flex;
    flex-dierction: column;
    align-items: center;
    justify-content: center; }

/****about-seection****/
#about-description {
  display: flex;
  flex-direction: column; }
  #about-description #about-text {
    margin-top: 5vh; }

#about-picture {
  display: flex;
  flex-direction: column;
  align-items: flex-end; }
  #about-picture img {
    height: 70vh;
    width: auto; }

/****projects-section****/
.project-list {
  margin: 0; }
  .project-list li {
    padding: 0; }

.project-list-item {
  position: relative;
  height: 26.6666666667vw; }
  .project-list-item:hover .overlay {
    opacity: 1; }
  .project-list-item:hover .project-title {
    color: #986725; }
  .project-list-item .project-image {
    width: 100%;
    height: 100%;
    object-fit: cover; }

.heading {
  margin: 3vh 1vw 8vh 0vw; }

#projects-heading {
  display: flex;
  justify-content: flex-end; }

.section {
  width: 100%;
  padding: 7.5vh 0;
  position: relative;
  display: block; }
  .section:nth-child(2) {
    padding-top: 15vh; }
  .section:last-child {
    padding-bottom: 15vh; }

.project-title {
  position: absolute;
  left: 15%;
  top: 70%;
  transition: .5s ease-out; }

.overlay {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  height: 100%;
  width: 100%;
  padding: 20% 15%;
  opacity: 0;
  transition: .5s ease-out; }
  .overlay:nth-child(odd) {
    background-color: #986725; }
  .overlay:nth-child(even) {
    background-color: #272244; }

/****footer****/
footer {
  position: relative;
  width: 100%;
  background-color: #272244; }
  footer #footer-logo {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center; }
    footer #footer-logo img {
      width: 35%;
      height: auto;
      filter: grayscale(100%); }
  footer #footer-content {
    min-height: 32vh;
    width: 80%;
    margin: 0 auto; }

#contact-heading {
  padding: 2vh 0 0 0;
  margin: 3vh 1vw 3vh 0vw; }

#contact-info > ul {
  display: flex;
  flex-direction: column;
  height: 35vh; }
  #contact-info > ul h1 {
    display: flex;
    justify-content: center; }
  #contact-info > ul > li {
    height: 14%;
    display: flex;
    align-items: center;
    justify-content: space-around; }
    #contact-info > ul > li:last-child {
      padding-top: 30px; }

#app-icons-list {
  display: flex;
  flex-direction: row;
  justify-content: space-around; }
  #app-icons-list li {
    padding: 0 2vw; }
  #app-icons-list i {
    font-size: 24px;
    color: #787878; }
    #app-icons-list i:hover {
      color: #986725; }

a {
  font-family: "Josefin Sans", sans-serif;
  text-decoration: none;
  text-transform: uppercase; }

.nav-item > a {
  color: #787878; }
  .nav-item > a:active {
    color: #986725; }

#main-page-title > p {
  text-transform: uppercase;
  font-size: 24px;
  font-family: "lora", serif;
  color: #787878;
  letter-spacing: 8px; }

.main-page-nav-link > a {
  font-size: 1.2em;
  color: #986725; }

.heading {
  font-family: "Josefin Sans", sans-serif;
  font-size: 2.4em;
  font-weight: bold;
  text-transform: uppercase;
  color: #272244;
  text-decoration: underline #986725; }

#contact-heading {
  color: #986725;
  text-decoration: none; }

#about-text {
  font-size: 1.5em;
  line-height: 36px;
  text-align: justify; }

.contact-content {
  font-family: "lora", serif;
  font-size: 18px;
  color: #787878;
  letter-spacing: 1px; }

.overlay-text-desc {
  font-size: 1vw;
  line-height: 1.4vw;
  font-family: "lora", serif;
  font-style: italic;
  text-transform: none;
  color: white; }

.project-title {
  font-size: 2.4vw;
  font-fmaily: "Josefin Sans", sans-serif;
  text-transform: none;
  color: white;
  font-weight: bold; }

.section-container {
  position: relative;
  max-width: 80%;
  margin: 0 auto; }

.container {
  max-width: 100%;
  margin: 0 auto; }
  .container__row {
    display: flex;
    flex-wrap: wrap;
    width: 100%; }

[class*='col-'] {
  float: left;
  padding: 0px 1.5vw;
  min-height: 1px; }
  [class*='col-']:first-child {
    padding-left: 0px; }
  [class*='col-']:last-child {
    padding-right: 0px; }

.col-1 {
  flex-basis: 8.3333333333%; }

.col-2 {
  flex-basis: 16.6666666667%; }

.col-3 {
  flex-basis: 25%; }

.col-4 {
  flex-basis: 33.3333333333%; }

.col-5 {
  flex-basis: 41.6666666667%; }

.col-6 {
  flex-basis: 50%; }

.col-7 {
  flex-basis: 58.3333333333%; }

.col-8 {
  flex-basis: 66.6666666667%; }

.col-9 {
  flex-basis: 75%; }

.col-10 {
  flex-basis: 83.3333333333%; }

.col-11 {
  flex-basis: 91.6666666667%; }

.col-12 {
  flex-basis: 100%; }

/*# sourceMappingURL=main.css.map */
