*, *:before, *:after {
  box-sizing: border-box; }

*:before, *:after {
  clear: both; }

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
  box-sizing: border-box;
  overflow: auto; }

html {
  scroll-behavior: smooth; }

article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block; }

body {
  line-height: 1; }

ol, ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

/***Landing Page***/
#landing-page {
  height: 100vh;
  position: relative;
  background-image: linear-gradient(270deg, rgba(255, 255, 255, 0) 0%, #FFFFFF 81.2%), url("cover.jpg");
  background-size: cover;
  background-position: 100% 0%;
  top: 0;
  left: 0;
  z-index: 90; }
  #landing-page .content {
    height: 83.334vh;
    position: relative; }
    #landing-page .content .name {
      margin-top: 40rem;
      margin-bottom: 3rem; }
    #landing-page .content .logo > img {
      height: 5.7292vh;
      width: auto; }
    #landing-page .content .landing-page-title {
      height: 36rem;
      width: auto; }
    #landing-page .content .landing-page-nav {
      position: absolute;
      bottom: 0;
      left: 0; }
      #landing-page .content .landing-page-nav li {
        margin: 2rem 0;
        height: 9rem;
        padding: 1rem 0;
        position: relative;
        display: inline-block;
        clear: both;
        float: left; }
        #landing-page .content .landing-page-nav li:first-child {
          margin-top: 0; }
          #landing-page .content .landing-page-nav li:first-child .hover-bar {
            width: 5rem; }
        #landing-page .content .landing-page-nav li:nth-child(2) .hover-bar {
          width: 9rem; }
        #landing-page .content .landing-page-nav li:last-child {
          margin-bottom: 0; }
          #landing-page .content .landing-page-nav li:last-child .hover-bar {
            width: 7rem; }
        #landing-page .content .landing-page-nav li:hover .hover-bar {
          animation: bar 500ms cubic-bezier(1, 0, 0, 1) forwards; }
      #landing-page .content .landing-page-nav .hover-bar {
        position: absolute;
        display: block;
        margin-top: 2rem;
        height: 1rem;
        background-color: #986725; }

@keyframes bar {
  0% {
    left: 0; }
  50% {
    width: 90%; }
  100% {
    width: 15px;
    right: 0; } }
/***navigation-bar***/
nav {
  position: fixed;
  top: 0;
  left: -200vh;
  width: 100vh;
  height: 20vh;
  -webkit-transform: rotate(-90deg);
  -ms-transform: rotate(-90deg);
  transform: rotate(-90deg);
  z-index: 100;
  transform-origin: 100% 0%;
  transition: 500ms cubic-bezier(1, 0, 0, 1) 0ms; }
  nav .side-block {
    height: 3rem;
    width: 100%;
    position: absolute;
    left: 0px;
    top: 0px;
    background-color: #272244;
    margin-bottom: 10rem; }
  nav .navigation-bar {
    position: absolute;
    top: 13rem;
    width: 83.334vh;
    margin: 0 8.333vh;
    display: flex;
    flex-direction: row;
    justify-content: space-between; }
    nav .navigation-bar a {
      transition: 200ms cubic-bezier(1, 0, 0, 1) 0ms; }

.view {
  left: -100vh; }

.background-border-top {
  height: 8.333vh;
  width: 100vw;
  background-color: white;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 12; }

.background-border-bottom {
  height: 8.333vh;
  width: 100vw;
  background-color: white;
  position: fixed;
  bottom: 0;
  left: 0;
  z-index: 10; }

.home-link {
  position: fixed;
  padding-top: 1px;
  right: 8.333vh;
  top: 4.333vh;
  z-index: 12;
  height: 7rem; }
  .home-link:hover .home-link-bar {
    width: 10rem; }

.home-link-bar {
  position: absolute;
  right: 0;
  display: block;
  margin-top: 1rem;
  height: 0.8rem;
  background-color: #986725;
  width: 4rem;
  transition: 500ms cubic-bezier(1, 0, 0, 1) 0ms; }

.background-block-container {
  margin: 8.333vh;
  width: calc(100vw - (2* 8.333)* 1vh);
  height: 83.334vh;
  position: fixed;
  z-index: -1;
  top: 0; }

.background-block {
  height: 100%;
  position: absolute;
  background-color: #ececec;
  bottom: 0;
  transition: height 500ms cubic-bezier(1, 0, 0, 1) 0ms; }

/***about-page***/
.about-section {
  min-height: 83.334vh;
  padding-top: 8.333vh; }
  .about-section .about {
    align-items: center;
    justify-content: space-around;
    min-height: 82.334vh; }
    .about-section .about .about-text-div {
      display: flex;
      justify-content: center;
      align-items: center; }
    .about-section .about .about-text {
      padding: 0 10rem 0 10rem;
      max-width: 150rem; }
      .about-section .about .about-text .bar {
        display: block;
        margin-top: 2rem;
        height: 1rem;
        background-color: #986725;
        width: 24rem;
        margin-top: 4rem; }
    .about-section .about .about-picture {
      display: flex;
      justify-content: center; }
      .about-section .about .about-picture img {
        width: auto;
        height: 100rem; }

/***projects-page***/
.projects-section {
  min-height: 83.334vh;
  padding-left: 20rem;
  padding-top: 8.333vh;
  padding-bottom: 8.333vh; }

.project-list {
  display: flex;
  flex-wrap: wrap; }
  .project-list li {
    height: 27.778vh; }

.project-list-item {
  position: relative;
  overflow: hidden; }
  .project-list-item:hover .overlay {
    opacity: 1; }
  .project-list-item:hover .project-title {
    color: #986725;
    top: 20%; }
  .project-list-item .project-image {
    width: 580px;
    height: auto;
    position: absolute;
    bottom: 0; }

.section {
  width: 100%;
  padding: 7.5vh 0;
  position: relative;
  display: block; }
  .section:nth-child(2) {
    padding-top: 15vh; }
  .section:last-child {
    padding-bottom: 15vh; }

.project-title {
  position: absolute;
  left: 10rem;
  top: 60%;
  transition: 500ms cubic-bezier(1, 0, 0, 1) 0ms; }

.overlay {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  height: 100%;
  width: 100%;
  opacity: 0;
  transition: all 750ms cubic-bezier(1, 0, 0, 1) 0ms;
  background-color: #272244; }
  .overlay .view-project {
    position: absolute;
    padding: 6rem 0 6rem 10rem;
    bottom: 0;
    width: 100%; }

/***contact-section***/
#contact {
  display: flex;
  padding-left: 20rem;
  padding-top: 4.1665vh;
  padding-bottom: 4.1665vh; }

#app-icons-list {
  height: 100%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center; }
  #app-icons-list li {
    padding: 0 2vw; }
  #app-icons-list i {
    font-size: 24px;
    color: #222222; }
    #app-icons-list i:hover {
      color: #986725; }

.contact-info ul {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center; }

.footer-logo {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center; }
  .footer-logo img {
    width: 16rem;
    height: auto;
    filter: grayscale(100%); }

html {
  font-size: 0.52vh; }

a {
  text-decoration: none;
  font-family: "Josefin Sans", sans-serif; }

/***landing page***/
.name {
  font-family: "Josefin Sans", sans-serif;
  color: #272244;
  font-size: 5rem; }

.landing-page-nav a {
  font-size: 4rem;
  font-weight: bold;
  color: #272244; }

/***navigation-bar***/
.navigation-bar {
  font-size: 4rem; }
  .navigation-bar a {
    color: #484848; }
    .navigation-bar a:hover {
      color: #986725; }

a.active {
  font-size: 10rem;
  color: #272244;
  font-weight: r00; }

.home-link {
  font-size: 4rem;
  color: #272244;
  font-family: "Josefin Sans", sans-serif; }

/***about-page***/
.about-text {
  color: #222222;
  font-size: 3.5rem;
  line-height: 4.5rem;
  font-weight: 550; }
  .about-text span {
    font-style: italic; }
    .about-text span .link {
      color: #4067b3;
      font-family: "lora", serif;
      font-weight: bold; }

/***projects***/
.project-title {
  font-size: 6rem;
  font-family: "Josefin Sans", sans-serif;
  text-transform: none;
  color: white;
  font-weight: bold;
  padding: 2rem; }

.view-project {
  font-family: "lora", serif;
  font-style: italic;
  color: rgba(255, 255, 255, 0.8);
  font-size: 4rem; }

/***contact***/
.contact-info li {
  font-family: "Josefin Sans", sans-serif;
  font-weight: bold;
  font-size: 3.5rem;
  padding: 2rem;
  color: #222222; }

.section-container {
  width: calc(100vw - (2* 8.333)* 1vh);
  margin: 8.333vh auto; }

.container {
  max-width: 100%;
  margin: 0 auto; }
  .container-row {
    display: flex;
    flex-wrap: wrap;
    width: 100%; }

[class*='col-'] {
  float: left;
  min-height: 1px; }

.col-1 {
  flex-basis: 8.3333333333%; }

.col-2 {
  flex-basis: 16.6666666667%; }

.col-3 {
  flex-basis: 25%; }

.col-4 {
  flex-basis: 33.3333333333%; }

.col-5 {
  flex-basis: 41.6666666667%; }

.col-6 {
  flex-basis: 50%; }

.col-7 {
  flex-basis: 58.3333333333%; }

.col-8 {
  flex-basis: 66.6666666667%; }

.col-9 {
  flex-basis: 75%; }

.col-10 {
  flex-basis: 83.3333333333%; }

.col-11 {
  flex-basis: 91.6666666667%; }

.col-12 {
  flex-basis: 100%; }

/*# sourceMappingURL=main.css.map */
